<h1>{{nombre}}</h1>
<dl>
    <td>Nombre:</td>
    <dd>{{nombre}}</dd>
    <td>Edad:</td>
    <dd>{{edad}}</dd>
    <td>Funcion:</td>
    <dd>{{obtenerNombre()}}</dd>
    <td>Capitalizado:</td>
    <dd>{{nombreCapitalizado}}</dd>
</dl>

<button *ngIf=" nombre !== 'spiderman'" (click)="cambiarNombre()">
    Cambiar Heroe
</button>

<button *ngIf=" edad !== 30" (click)="cambiarEdad()">
    Cambiar Edad
</button>

<button *ngIf="nombre === 'spiderman' && edad == 30 " (click)="reset()">
    Reset
</button>